footer {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

}

.button_footer {
    width: 5%;
    height: 24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #80808054;;
    justify-content: space-evenly;
    background: linear-gradient(180deg,#0000ff 23%, #0059ff 100%);

}