body{
    width: 100vw;
    height: 100vh;
    background-color: #656565;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 16%;
    background-color: #808080;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logo_profission{
    width: 45%;
    height: 100%;
    background-color: #80808054;
    display: flex;
    flex-direction: center;
    justify-content: start;
}
#logo{
    width: 16%;
    height: 60%;
    background-color: #1a1a1a54;;
}

#img{
    width: 100%;
    height: 50%;
    background-color:  #4d4d4d;

}
#student{
    font-size: 2vw;
    margin: 0;
    background-color: #27272791;
}
#button_hearder{
    width: 36%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #80808054;
}

.button_hearder{
    width: 24%;
    height: 24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #42424254;
}
main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #313131;
}
#img_main{
    width: 36%;
    height: 36%;
    background-color: #4d4d4d;
}
#infos{
    width: 36%;
    height: 36%;
    background-color: #4d4d4d;
}
footer{
    width: 100%;
    height: 16%;
    background-color: #808080;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
#button_footer{
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #80808054;
}
.button_footer{
    width: 24%;
    height: 24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #42424254;
}

