#nav_banners {
    height: 40%;
    width:100%;

    margin: 2% 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
#banners {
    width: 300%;
    height: 40%;

    display: flex;
    flex-direction: row;

    position: absolute;
    left: 0;
    
    z-index: -1;
    transition: all 0.2s ease-in-out;
}
.banner {
    width: 94%;
    height: 100%;
    margin: 0 3%;
    background-color: var(--primary_blue)
}
.btn_banner{
    width: 1.2vw;
    height: 1.2vw;
    
    border-radius: 50%;
    border: none;
    margin: 0 0.5vw 0.7vw;
    
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    background-color: rgb(0, 0, 0);
    
}
.btn_banner:hover{
    transform: scale(1.2);
}