footer {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

}

.button_footer {
    width: 5%;
    height: 24%;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;
    background: var(--footer_botton);
    color: var(--whithe);

}