header {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logo_profission {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: center;
    justify-content: start;
}

#logo {
    width: 16%;
    height: 60%;
    
    
}

#img {
    width: 100%;
    height: 50%;


}

#student {
    font-size: 2vw;
    margin: 0;
    
}

#button_hearder {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
}

.button_hearder {
    width: 24%;
    height: 24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg,#0000ff 23%, #0059ff 100%);
    border-radius: 20% 40%;
   
    
}