header {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logo_profission {
    width: 39%;
    height: 100%;
    display: flex;
    flex-direction: center;
    justify-content: start;

    background: linear-gradient(to right, #FBFBFB 0%, #244FCF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* necessário para compatibilidade */

    color: transparent;
    -webkit-text-fill-color: transparent;
    /* necessário para WebKit/Blink (Chrome, Safari, Edge) */

}

#logo {
    width: 12%;
    height: 60%;
    background-image: url(/img/profile.png);
    background-size: cover;
    background-position: center;

}

#img {
    width: 100%;
    height: 50%;

}

#student {
    font-size: 2vw;
    margin: 0;

}

#button_hearder {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;



}

.button_hearder {
    width: 24%;
    height: 24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #0000ff 23%, #0059ff 100%);
    border-radius: 10% 40%;
    color: var(--whithe);


}