/* Estiliza a área principal da HUD */
main {
  width: 100%;
  height: 68%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/* Estiliza a imagem principal */
#img-main {
  width: 36%;
  height: 86%;
  background-image: url(/img/r34.png);
  background-size: cover;
  background-position-x: 19%;
}
#infos {
  width: 36%;
  height: 80%;
  font-family: var(--fontP);
  background: linear-gradient(to right, #F4F4F4 0%, #00e1ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
#first-name {
  font-size: 10vh;
  margin: 0;
}
#last-name {
  font-size: 10vh;
  margin: 0;
}
#description {
  font-size: 2vh;
  margin: 0;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 10px 10px 20px rgb(0, 0, 0);
}

/* Responsividade Tablet */
@media (max-width: 820px) {
  main {
    flex-direction: column;
    height: auto;
    padding: 2.11vh 0;
    gap: 2.11vh;
  }

  #img-main {
    width: 80%;
    height: 40vh;
    background-position-x: center;
  }
  #infos {
    width: 80%;
    height: auto;
    text-align: center;
  }
  #first-name,
  #last-name {
    font-size: 6vh;
  }
  #description {
    font-size: 2.5vh;
  }
}
/* Responsividade Celular */
@media (max-width: 480px) {
  main {
    flex-direction: column;
  }
  #img-main {
    height: 30vh;
    background-position-x: center;
    margin-bottom: 40%;
    position: absolute;
  }
  #infos {
    width: 90%;
    height: auto;
    text-align: center;
    font-size: 2vw;
  } 
  #last-name {
    font-size: 6vh;
  }
  #description {
    font-size: 2vh;
    text-align: center;
    margin-top: 60%;
  }
}

/* #img_main:hover{
transform
}

#first-name:hover{

  color: red;
} 

@keyframes girar {
  0%{

  }30%{

  }

  70%{

  }

  100%{

  }
} */ 