main {
    width: 100%;
    height: 68%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#img_main {
    width: 36%;
    height: 86%;

    background-image: url(/img/r34.png);
    background-size: cover;
    background-position-x: 20%;
}

#infos {
    width: 36%;
    height: 36%;
    color: var(--whithe);
    
}