@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Merienda:wght@300..900&display=swap');


:root{
    
    --whithe: #F4F4F4;
    --black: #151515;
    --primary_blue: #0000ff;
    --second_blue2: #0059ff;
    --tertiary_purple: #441daf; 
    --footer_botton: linear-gradient(180deg,#0000ff 23%, #0059ff 100%);
    

    --fontP:"Merienda";
    --fontS:"Livvic";
}





