
:root{
    
    --whithe: #F4F4F4;
    --black: #151515;
    --primary_blue: #0000ff;
    --second_blue2: #0059ff;
    --tertiary_purple: #4E33DE; 
    --footer_botton: linear-gradient(180deg,#0000ff 23%, #0059ff 100%);
    
}





