#square{
position: absolute;
top: 45vh;
left: 0.5vw;

background-size: cover;
animation: move_screen 5s linear infinite, girar 5s linear infinite;
}


@keyframes move_screen {
0%, 100% {
    top: 90vh;
    left: 90vw;
}
25% {
    top: 75vh;
    left: 95vw;
}
50% {
    top: 40vh;
    left: 50vw;
}
75% {
    top: 20vh;
    left: 10vw;
}
}


@keyframes girar {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}