@import url(./root.css);
@import url(./buttons.css);
@import url(./menu.css);
@import url(./header.css);
@import url(./banner.css);
@import url(./cards.css);
@import url(./footer.css);


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(/img/pag1.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

footer {

    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: 4vh;
}