@import url(./../../style/header.css);
@import url(./../../style/root.css);
@import url(./../../style/menu.css);
@import url(./../../style/footer.css);
@import url(../../style/formation/card_f.css);

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../../../assets/img/pag1.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
main {
  width: 100%;
  height: 68%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

footer {
    height: 10%;
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: 4vh;
}